<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42117056697-iqlfn3e3o87090bus8iboboscg5bvpi7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42117056697-iqlfn3e3o87090bus8iboboscg5bvpi7</string>
	<key>API_KEY</key>
	<string>AIzaSyDEu8YkhAFo3WbLXAOaMVZHuu5ZyMh8Ftc</string>
	<key>GCM_SENDER_ID</key>
	<string>42117056697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>fling-app-9fbec</string>
	<key>STORAGE_BUCKET</key>
	<string>fling-app-9fbec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42117056697:ios:249a484643e15e4c9cb368</string>
</dict>
</plist>